<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="pickupsystem_pickups_listing_data_source" xsi:type="string">Pablobaenas\PickupSystem\Model\ResourceModel\Pickups\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Pablobaenas\PickupSystem\Model\ResourceModel\Pickups\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">pablobaenas_pickup_system</argument>
            <argument name="resourceModel" xsi:type="string">Pablobaenas\PickupSystem\Model\ResourceModel\Pickups</argument>
        </arguments>
    </virtualType>
</config>
